<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Список ПОКУПАТЕЛЯ</h1>
   <form method="GET">
       <input type="text" name="q" placeholder="Поиск по имени" value="{{ query }}">
       <button type="submit">Поиск</button>
   </form>
   <table>
       <tr>
           <th>Имя</th>
           <th>электрон. Адрес</th>
           <th>Телефон</th>

       </tr>
       {% for customer in customers %}
       <tr>
           <td>{{ customer.name }}</td>
           <td>{{ customer.email }}</td>
           <td>{{ customer.phone }}</td>
           <td>
               <a href="{% url 'edit_customer' customer.id %}">Изменить</a>
               <a href="{% url 'delete_customer' customer.id %}">Удалить</a>
           </td>
       </tr>
       {% endfor %}
   </table>
   <a href="{% url 'index' %}">Назад</a>
</body>
</html>