<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Список ПРОДУКТОВ</h1>
   <form method="GET">
       <input type="text" name="q" placeholder="Поиск по имени" value="{{ query }}">
       <button type="submit">Поиск</button>
   </form>
   <table>
       <tr>
           <th>Имя</th>
           <th>Цена</th>
           <th>Склад №</th>

       </tr>
       {% for product in products %}
       <tr>
           <td>{{ product.name }}</td>
           <td>{{ product.price }}</td>
           <td>{{ product.stock }}</td>
           <td>
               <a href="{% url 'edit_product' product.id %}">Изменить</a>
               <a href="{% url 'delete_product' product.id %}">Удалить</a>
           </td>
       </tr>
       {% endfor %}
   </table>
   <a href="{% url 'index' %}">Назад</a>
</body>
</html>